name: CI Check

on:
  pull_request:
    branches: ["main"]

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # ビルドのみ行い、Pushはしない.
      - name: Build check
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false 
          cache-from: type=gha

          cache-to: type=gha,mode=max